<!DOCTYPE html>
<html>
<head>
    <title>Recipe Book</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="shalini">
    <link rel="stylesheet" href="C:\Users\hp\OneDrive\Desktop\html\Cook Book\style\about.css">
</head>
<body>
    <header>
        <div class="container">
            <img src="C:\Users\hp\OneDrive\Desktop\html\Cook Book\images\logo.png" alt="logo">
            <p><b>Cook Book</b></p>
        </div>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="recipes.html">Recipes</a></li>
                <li><a href="add.html">Your Recipe</a></li>
                <li><a href="contact.html">Contact</a></li>  
            </ul>
        </nav>
    </header>
    <main>
        <div class="about">
            <h2>MISSION</h2>
            <p>Our mission is to celebrate the rich and diverse culinary traditions of the world by providing authentic and delicious recipes from different countries. We aim to inspire people to explore global cuisines and experience the joy of cooking international dishes in their own kitchens.</p>
        </div>
        <div class="about">
            <h2>MY STORY</h2>
            <p>Hello! I'm SHALINI, the founder of Worldly Recipes. My passion for cooking and love for travel have always driven me to explore new cultures through their food. Over the years, I've collected recipes from my journeys and brought them into my home kitchen. This website is a culmination of my experiences and a way to share my culinary adventures with you. I hope to inspire you to try new recipes, discover new flavors, and bring a piece of the world into your own home.</p>
        </div>
    </main>
    <footer>
        <p><b>&copy; 2024 Shalini Website</b></p>
    </footer>
</body>
</html>
