<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Recipe Book</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="shalini">
    <link rel="stylesheet" href="C:\Users\hp\OneDrive\Desktop\html\Cook Book\style\contact.css">
    
</head>
<body>
    <header>
        <div class="container">
            <img src="C:\Users\hp\OneDrive\Desktop\html\Cook Book\images\logo.png" alt="logo">
            <p><b>Cook Book</b></p>
        </div>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="recipes.html">Recipes</a></li>
                <li><a href="add.html">Your Recipe</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="contact">
            <p><i class="fa fa-phone fa-2x fa fa-shake" style="color:black"></i>&nbsp;&nbsp;&nbsp;CONTACT NUMBER: 9710797226</p>
            <p><a target="_blank" href="https://www.instagram.com/starlet_shals_official/"><i class="fa-brands fa-instagram fa-2x" style="color:black"></i></a>&nbsp;&nbsp;&nbsp;INSTAGRAM: starlet_shals_officials</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Shalini Website</p>
    </footer>
</body>
</html>
