<!DOCTYPE html>
<html>
<head>
    <title>Recipe Book</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="shalini">
    <link rel="stylesheet" href="C:\Users\hp\OneDrive\Desktop\html\Cook Book\style\home.css">
    </head>
<body>
    <header>
        <div>
            <img src="C:\Users\hp\OneDrive\Desktop\html\Cook Book\images\logo.png" alt="logo">
            <p><b>Cook Book</b></p>
        </div>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="recipes.html">Recipes</a></li>
                <li><a href="add.html">Your Recipe</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="intro">
            <h1>Welcome to Worldly Recipes!</h1>
            <p>"Explore the rich and diverse flavors of the world from the comfort of your kitchen. Our website is dedicated to bringing you authentic and delicious recipes from different countries, allowing you to experience global cuisine without leaving home."</p>
        </div>
        <div class="dish">
            <h1>TOP FAMOUS DISHES AROUND THE WORLD</h1>
        </div>
        <div class="famous_dishes">
            <img src="C:\Users\hp\OneDrive\Desktop\html\Cook Book\images\biriyani.jpg" alt="biriyani" class="img">
            <h2>BIRYANI</h2>
            <h3>(INDIA)</h3>
            <p>Biryani is a mixed rice dish, mainly popular in South Asia. It is made with rice, some type of meat and spices. To cater to vegetarians, in some cases, it is prepared by substituting vegetables or paneer for the meat. Sometimes eggs and/or potatoes are also added.</p>
        </div>
        <div class="famous_dishes">
            <img src="C:\Users\hp\OneDrive\Desktop\html\Cook Book\images\sushi.jpg" alt="Sushi" class="img">
            <h2>SUSHI</h2>
            <h3>(JAPAN)</h3>
            <p>Prepared with vinegared rice and a wide range of ingredients including seafood, vegetables, and sometimes fruits. Sushi tastes best when served with wasabi, pickled ginger, and soy sauce. A popular garnish for this dish is Daikon radish. The type of fish in it defines a sushi's taste. However, the vinegared rice gives the dish a tangy taste overall. Tuna, eel, and Salmon tend to have a light flavour while octopus flavoured sushi is generally strong in taste.</p>
        </div>
        <div class="famous_dishes">
            <img src="C:\Users\hp\OneDrive\Desktop\html\Cook Book\images\rendang.jpg" alt="Rendang" class="img">
            <h2>RENDANG</h2>
            <h3>(INDONESIA)</h3>
            <p>Often called "the world's most delicious dish," Rendang is prepared by simmering beef with coconut milk with a mixture of the best of spices including turmeric, garlic, lemongrass, ginger, chillies, and galangal. The dish is then stewed for a few hours which gives it a tender texture and exotic taste. The blast of flavours is surely one of the reasons why the dish is loved globally and is also one of the best dishes in the world. Easy to rustle up, this dish is often served at ceremonies or to honour guests.</p>
        </div>
        <div class="famous_dishes">
            <img src="C:\Users\hp\OneDrive\Desktop\html\Cook Book\images\Tom-Yum-Goong.jpg" alt="Tom Yam Goong" class="img">
            <h2>TOM YAM GOONG</h2>
            <h3>(THAILAND)</h3>
            <p>A type of sour and hot Thai soup, Tom yam goong is prepared with shrimp along with a load of healthy herbs and spices—lemongrass, lime, kaffir leaves, galangal, and red chili peppers to name a few. The soup plays around with a bit of all possible flavours—spicy, sour, salty and sweet. To add to its flavour, the soup is topped with coconut milk and cream. The dish is a local favourite all over Thailand.</p>
        </div>
        <div class="famous_dishes">
            <img src="C:\Users\hp\OneDrive\Desktop\html\Cook Book\images\kebab.jpg" alt="Kebab" class="img">
            <h2>KEBAB</h2>
            <h3>(TURKEY)</h3>
            <p>A dish popular across the Middle East, Kebabs are originally from Turkey. They consist of ground meat or seafood, fruits, and vegetables in some cases and are cooked on a skewer with a big fire underneath, just like a barbeque on the grill. It is cooked with various accompanying ingredients including garlic, black pepper, and vegetable oil. Mutton or lambs are generally the traditional meats used in kebabs. Other recipes include beef, goat, fish, and chicken as well. This dish has a perfect blend of taste, ranging from tangy to spicy, making it one of the best dishes in the world.</p>
        </div>
    </main>
    <footer>
        <p><b>&copy; 2024 Shalini Website</b></p>
    </footer>
</body>
</html>
