<!DOCTYPE html>
<html>
<head>
    <title>Recipe Book</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="shalini">
    <link rel="stylesheet" href="C:\Users\hp\OneDrive\Desktop\html\Cook Book\style\recipes.css">
    
</head>
<body>
    <header>
        <div>
            <img src="C:\Users\hp\OneDrive\Desktop\html\Cook Book\images\logo.png" alt="logo">
            <p><b>Cook Book</b></p>
        </div>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="recipes.html">Recipes</a></li>
                <li><a href="add.html">Your Recipe</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
  
    </main>
    <footer>
        <p><b>&copy; 2024 Shalini Website</b></p>
    </footer>
</body>
</html>
